* text=auto
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.svg text eol=lf
*.cmd text eol=crlf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
.env.example text eol=lf
